<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<link rel='stylesheet' type='text/css' href='/css/main.css'>
</head>
<body>
    <nav>
        <ul>
     	    <li><a href='/'>Home</a></li>
          	<li><a href='/blog'>Blog</a></li>
    	    <li><a href='/resume'>Resume</a></li>
    	    <li><a href='/contact'>Contact</a></li>
        	<li><a href='/about'>About</a></li>
        </ul>
    </nav>
    <div class='div-container'>
        {{ content }}
    </div>
    <footer>
        <span class='span-footer'>Copyright &#169; 2019 Thomas Clark</span>
    </footer>
</body>
</html>
	